h1 {
    color: #005677;
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    color: #005677;
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
}
span {
    font-style: italic;
    font-weight: bold;
}
#Logo {
    margin: auto;
    display: block;
}
footer {
    background-color: #005677;
}
#Footer {
    color: #FFFFFF;
    text-align: center;
}