$back-ground-color: #C4C4C4;
$color-palabras: #005677;
@mixin letras {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
}

h1 {
    color: $color-palabras;
    background-color: $back-ground-color;
    @include letras;
    text-align: center;
}
h3 {
    color: $color-palabras;
    background-color:$back-ground-color;
    @include letras;
}
p{
    @include letras;
}
span {
    font-style: italic;
    font-weight: bold;
}
#Logo {
    margin: auto;
    display: block;
}
footer {
    background-color: $color-palabras;
}
#Footer {
    color: #FFFFFF;
    text-align: center;
}