* {
    box-sizing: border-box;
}
body {
    width: 100vw;
}
header p {
    background-color: #D1891C;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #333333;
    margin: 0%;
    padding: 0.5%;
}
article{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
h1 {
    display: flex;
    background-color: #00669F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0%;
    height: 10vh;
    align-items: center;
    padding: 0.5%;
}
section {
    background-color: #F3F3F3;
    margin: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    align-items: center;   
    width: 30%;
}
h2 {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-align: center;
    bottom: -10%;
}
section p {
    position: relative;
    bottom: -10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #333333;
    margin: 5%;
}
a {
    background-color: #00669F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #F3F3F3;
    position: relative;
    display: flex;
    bottom: -10%;
    width: 50%;
    height: 8%;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #00669F;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
footer p {
    position: relative;
    background-color: #00669F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #F3F3F3;
    right: -40%;
}
.fondo {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 0;
}
.foto {
    position: absolute;
    top: 120px;
    align-self: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
}
.corazon {
    position: absolute;
    left: 8%;
    top: 5%;
    width: 10%;
}
footer img {
    height: 30%;
    width: 7%;
}
@media (max-width: 442px) {
    .foto{
        width: 80px;
        height: 80px;
    }
    section{
        width: 50%;
        margin: 1vw;
    }
    section p{
        font-size: 0.8rem;
    }
    footer p{
        font-size: 0.5rem;
        right: -30%;
    }
    footer img{
        width: 23%;
    }
}
@media(min-width: 443px) and (max-width: 800px){
    section p{
        font-size: 0.8rem;
    }
    footer img {
        width: 15%;
    }
    section {
        height: 50vh;
    }
}