h1 {
    color: #107700;
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    color: #107700;
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
}
span {
    font-style: italic;
    font-weight: bold;
}
#Logo {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}
footer {
    background-color: #107700;
}
#Footer {
    color: #FFFFFF;
    text-align: center;
}
header {
    background-image: url("https://i.pinimg.com/236x/53/8e/6f/538e6fd6eaf30aa3c063aec3c825e4a0.jpg");
}